@import url("vars.css");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--col-text-l1);
    background-color: var(--col-base);
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
}


h1 {
    font-family: "RobotoFlex", sans-serif;
    color: #FA31D9;
    font-stretch: 251%;
    font-variation-settings: 'GRAD' 150, 'XOPQ' 96, 'XTRA' 468, 'YOPQ' 79, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'slnt' 0;
}


body:has(.portfolio-overlay-open) {
    overflow: hidden;
}

[aria-hidden="true"] { visibility: hidden; }

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    padding: 20px;
    opacity: 0;
}

.skip-link:focus {
    opacity: 1;
}

.pages {
    max-width: 100vw;
    overflow: hidden;
}