.header-links {
    display: flex;
    align-items: center;
    padding: 0px var(--padding);
    height: 100px;
    >div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    a {
        background: #fff1;
        border-radius: 90px;
        padding: 12px 35px;
        font-size: 18px;
        color: inherit;
        transition: all 0.1s ease;
        &:hover {
            padding: 14px 40px;
            background: #fff2;
        }

        &.active {
            font-weight: 900;
            padding: 16px 50px;
            color: white;
            background: hsl(var(--accent-1));
            &:hover {
                background: hsl(var(--accent-1));
            }
        }
    }
}



@keyframes slidedown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.page-content-inner {
    margin: 36px;
    margin-top: 0px;
}



.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 200px;
    height: 200px;
    mask-image: url("/public/img/logo.svg");
    background: blue;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    background: linear-gradient(to right, hsl(var(--accent-1)), hsl(var(--accent-2)), hsl(var(--accent-3)), hsl(var(--accent-1)));
    background-size: 200% 200%;
    animation: bg-scroll 1s linear infinite;
    opacity: 0.2;
    transition: all 0.3s ease;
}
body.loaded {
    .loader {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes bg-scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 100%;
    }
}